body {
  background-color: rgb(219, 243, 217);
  font-family: "Josefin Sans", sans-serif;
  max-width: 100%;
}
button {
  font-family: "Josefin Sans", sans-serif;
}
input {
  font-family: "Josefin Sans", sans-serif;
}
header {
  padding: 2%;
  position: sticky;
  background-color: rgb(185, 240, 185);
}
a {
  background-color: rgb(141, 193, 141);
  text-decoration: none;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: black;
}
a:hover {
  background-color: rgb(109, 189, 109);
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: rgb(185, 240, 185);
  width: 99%;
}

form {
  padding: 1%;
  text-align: center;
  width: fit-content;
  margin: auto;
  background-color: white;
}

#background-div {
  background-image: url("../images/bakgrund.jpg");
  background-size: contain;
  margin: auto;
  width: 50%;
}
input {
  margin-bottom: 2%;
}

/* sparat.html */

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

table {
  width: 100%;
  text-align: left;
  padding: 5%;
}

table,
tr,
td,
th {
  border: solid;
  border-color: black;
  border-collapse: collapse;
}

thead {
  text-align: left;
  background-color: #78a0b0;
}
tfoot {
  background-color: #add7e7;
  font-family: "Courier New", Courier, monospace;
}

tbody {
  background-color: #a1afa0;
}

.image {
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}
.lists {
  width: 50%;
  float: left;
}

@media only screen and (max-width: 600px) {
  .lists {
    width: 100%;
  }
  .image {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
