body {
  background-color: rgb(219, 243, 217);
  font-family: "Josefin Sans", sans-serif;
}
button {
  font-family: "Josefin Sans", sans-serif;
}
input {
  font-family: "Josefin Sans", sans-serif;
}
header {
  padding: 2%;
  background-color: rgb(185, 240, 185);
  border-color: black;
  border-radius: 10px;
}
div {
  padding-top: 5%;
}
